<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>新浪微博 copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>新浪微博.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E530213E1F3ABB39000651AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E53021521F3ABB39000651AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E530215D1F3ABB39000651AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E532E3891F5FFEFE002434A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E532E3AE1F600656002434A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
